<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="search-btn">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>What's up, Joy!</strong>
    <span class="sub-header">categories</span>

    <!-- categories -->
    <ion-slides pager="false" [options]="sliderConfig">
      <ion-slide class="categories">
        <div class="categories-buttons business">
          <span class="task-count">
            40 tasks
          </span>
          <span class="categories-name"> Business</span>
          <ion-progress-bar mode="ios" value="0.7"></ion-progress-bar>
        </div>
      </ion-slide>
      <ion-slide class="categories">
        <div class="categories-buttons personal">
          <span class="task-count">
            18 tasks
          </span>
          <span class="categories-name"> Personal</span>
          <ion-progress-bar mode="ios" value="0.3"></ion-progress-bar>
        </div>
      </ion-slide>
    </ion-slides>

    <span class="todays-header">TODAY'S TASKs</span>
    <div class="task-list">
      <!-- This is where the tasks will go -->
      <app-task [text]="'Task 1'"></app-task>
      <app-task [text]="'Task 2'"></app-task>
    </div>
  </div>

  <ion-fab id="trigger-button" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button mode="ios">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal mode="ios" trigger="trigger-button" [isOpen]="false" [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="1">
    <ng-template>
      <app-new-task></app-new-task>
    </ng-template>
  </ion-modal>
</ion-content>